<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="15">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form (submit) ="loginUser($event)" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field >
              <input matInput placeholder="Username" required name="Username" >
            </mat-form-field>
          
            <mat-form-field >
                <input matInput type="password"  placeholder="Password" required name="password" >
            </mat-form-field>

            <button mat-raised-button type="submit">Login </button>

          </form>
    </mat-card>
</div>